# 1. 创建python虚拟环境: conda create -n py37 python=3.7
# 2. 激活虚拟环境: conda activate py37
# 3. 安装python依赖包(离线/在线均可)
#   3.1 离线安装: pip install --no-index --find-links=./python_pkgs -r requirements.txt
#   3.2 在线安装: pip install -r requirements.txt

absl-py==1.2.0
brotlipy==0.7.0
cachetools==5.2.0
certifi
cffi
charset-normalizer
cryptography
cycler==0.11.0
easyocr==1.6.2
fonttools==4.37.3
google-auth==2.11.1
google-auth-oauthlib==0.4.6
grpcio==1.48.1
idna
imageio==2.22.0
importlib-metadata==4.12.0
kiwisolver==1.4.4
Markdown==3.4.1
MarkupSafe==2.1.1
matplotlib==3.5.3
mkl-fft==1.3.1
mkl-random
mkl-service==2.4.0
networkx==2.6.3
ninja==1.10.2.3
numpy
oauthlib==3.2.1
opencv-python==4.5.5.64
opencv-python-headless==4.5.4.60
packaging==21.3
pandas==1.3.5
Pillow==9.0.1
protobuf==3.19.5
pyasn1==0.4.8
pyasn1-modules==0.2.8
pyclipper==1.3.0.post3
pycparser
pyOpenSSL
pyparsing==3.0.9
PySocks
python-bidi==0.4.2
python-dateutil==2.8.2
pytz==2022.2.1
PyWavelets==1.3.0
PyYAML==6.0
requests
requests-oauthlib==1.3.1
rsa==4.9
scikit-image==0.19.3
scipy==1.7.3
seaborn==0.12.0
Shapely==1.8.4
six
tensorboard==2.10.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
thop==0.1.1.post2209072238
tifffile==2021.11.2
torch==1.12.1
torchaudio==0.12.1
torchvision==0.13.1
tqdm==4.64.1
typing_extensions
urllib3
Werkzeug==2.2.2
zipp==3.8.1
